html {
  background-color: #fdf6e3;
}

header {
  font-size: 1.5rem;
}

footer {
  font-size: 1.5rem;
}

nav > ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

#contents {
  color: #93a1a1;
}

#favs {
  color: #93a1a1;
}

#facts {
  color: #93a1a1;
}

#types {
  color: #93a1a1;
}

.wrapper > .dfn {
  background-color: #b58900;
}

.dfn > strong:nth-child(2) {
  color: #fff;
}

html > mark {
  background-color: #719e07;
}

[rel="external"] {
  background-color: #2694d8;
}

ol li:first-child {
  color: #719e47;
}

ol li:last-child {
  color: #2aa198;
}

.types > li:nth-child(odd) {
  background-color: #657ba3;
}
